
{%
    set menu_items = {
        'homepage': '/',
        'catalog': url_for('catalog'),
    }
%}
<ul id="header">
    {% for item in menu_items %}
        <li>
            <a href="{{ menu_items[item] }}"
                {% if menu_items[item] == request.path %}
                    class = "active"
                {% endif %}
            >{{ item | capitalize }}</a>

        </li>
    {% endfor %}
    {% if session.login %}
        <li>
            <a href="/profile/{{session.name}}/"
                {% if "/profile" in request.path %}
                    class = "active"
                {% else %}
                    class = "inactive"
                {% endif %}
            >Profile</a>
        </li>
        <li>
            <a href="/logout"
                {% if request.path =='/logout' %}
                    class = "active"
                {% endif %}
            >Logout</a>
        </li>
    {% else %}
        <li>
            <a href="/login"
               {% if request.path =='/login' %}
                class = "active"
               {% endif %}
            >Login</a>
        </li>
    {% endif %}
</ul>
